* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.manage-events {
  height: 100vh;
  width: 100%;
  background-color:#e0f4ff;
}
.header-manage-events {
  color: black;
  height: 3.5vh;
  background-color: white;
  font-size: 20px;
}
.showing-part {
  background-color: #e0f4ff;
  padding-top: 10px;
  height: 5vh;
  display: flex;
  color: gray;
  padding-left: 20px;
}
.underline {
  color: rgb(49, 59, 212);
  text-decoration: underline;
  margin-right: 10px;
}

.manage-events-part2 {
  height: 5vh;
  background-color: #e0f4ff;
  display: flex;
  justify-content: space-between;
}
.search-bar {
  margin-left: 10px;
  margin-top: 7px;
  height: 20px;
  background-color: white;
  width: 400px;
  display: flex;
  border-style: none;
}
.inside-search-bar i {
  color: rgb(49, 59, 212);
  font-size: 15px;
  padding-left: 5px;
}
.inside-para {
  color: gray;
  font-size: 15px;
  padding-left: 5px;
}
/* .create-button{
  height: 10px;
    margin-right: 5px;
    background-color: #2f32d1;
    padding: 3px;
    margin-top: 7px;
    color: white;
    border-style: none;
    border-radius: 2px;
} */